{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Create new post</h1>
<div class="container">
<input type="text" id="title" class="span12" placeholder="The title of the draft goes here" autocomplete="off">
<div style="height:500px"id="epiceditor"></div>
<button id="someBtn">Click me</button>
</div>
<script src="/ext/js/epiceditor.min.js"></script>
    <script src="/ext/js/jquery.js"></script>

<script>
var opts = {
  container: 'epiceditor',
  textarea: null,
  basePath: '/ext',
  clientSideStorage: true,
  localStorageName: 'spectrum',
  useNativeFullscreen: true,
  parser: marked,
  file: {
    name: 'spectrum',
    defaultContent: '',
    autoSave: 100
  },
  theme: {
    base: '/themes/base/epiceditor.css',
    preview: '/themes/preview/bartik.css',
    editor: '/themes/editor/epic-dark.css'
  },
  button: {
    preview: true,
    fullscreen: true
  },
  focusOnLoad: false,
  shortcut: {
    modifier: 18,
    fullscreen: 70,
    preview: 80
  },
  string: {
    togglePreview: 'Toggle Preview Mode',
    toggleEdit: 'Toggle Edit Mode',
    toggleFullscreen: 'Enter Fullscreen'
  }
}
var editor = new EpicEditor(opts);

editor.load(function () {
  console.log("Editor loaded.")
});

var files = editor.getFiles();
for (x in files) {
  console.log('File: ' + x); //Returns the name of each file
};

$("#someBtn").click(function (){

  var theContent = editor.exportFile(null,'html');
      var _title = $("#title").val(),
      _url = convertToSlug($('#title').val()).trim();
      if (!_title){
        return alert("Please enter the title");
      } 
      if(!theContent) {
        return alert("Please enter some content");
      }
      saveToServerAjaxCall('/save', {data:theContent,title:_title,url:_url}, function () {
    console.log('Data was saved to the database.');
  });

});


function saveToServerAjaxCall(url, data, callback) {

  $.ajax({
    type: 'POST',
    data: JSON.stringify(data),
    contentType: 'application/json',
    url: '/new/post',
    statusCode: {
      200: function (response) {

      },
      201: function (response) {

      },
      401: function (response) {

      },
      404: function (response) {

      }
   },
    success: function (data) {
      editor.remove('spectrum');
      window.location.href = '/'+data.url;
    }
  });
}

function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/ /g,' ')
        .replace(/[^\w-]+/g,' ')
        ;
}

var content = "<h1>Hello World</h1>
<h1>He</h1>
<h1>wawe</h1>
";
// var title = "{{title}}";
editor.importFile('spectrum',content);
 $("#title").val(title);
  // $.post('/post/edit/g',function(data){
  //   console.log({{data.title}});
  //   $("#title").val(data.title);
  //    //Imports a file when the user clicks this button

  // });


</script>



{% endblock %}
