<header id="header">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Spectrum</a>
      <div class="nav-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/articles/new" title="new article">New</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Dropdown header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form pull-left" action="" _lpchecked="1">
          <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav pull-right">
          {% if req.isAuthenticated() %}
          <li><a href="/users/{{req.user._id}}" title="Profile">{{req.user.username}}</a></li>
          <li><a href="/logout" title="logout">Logout</a></li>
          {% else %}
          <li><a href="/login" title="login">Login</a></li>
          {% endif %}
        </ul>
      </div>
      <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.navbar -->
</header>

