  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
  <link href="/bower/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/bower/highlightjs/styles/github.css">
  <link rel="stylesheet" href="/bower/jquery.tagsinput/jquery.tagsinput.css">
  <link rel="stylesheet" href="/bower/alertify/themes/alertify.core.css" />
  <link rel="stylesheet" href="/bower/alertify/themes/alertify.default.css" />
  <link rel="stylesheet" href="/css/app.css">