# Port to listen on
export PORT=5000

# development or production
export NODE_ENV='development'

# URL of the Mongodb instance
export MONGO_URL='mongodb://localhost/makeapi'

# Host and port for your Elastic search cluster
export ELASTIC_SEARCH_URL='http://localhost:9200'

# A List of allowed users for write operations to the database
# List in this format: "user:pass,user2:pass"
# You shouldn't use this username/password combo yourself
export ALLOWED_USERS='testuser:password'
