{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container">
<h1>Latest blog post</h1>

{% for post in posts %}
  <h2><a href="/{{ post.title }}">{{ post.title }}</a></h2>
  <p>email: {{ post.email }}</p>
  <p>Author: {{ post.author }}</p>
  <p>Posted On: {{ post.postedOn }}</p>
{% endfor %}
</div>


<ul class="pager">
    {% if hasPrevious == true %}
    <li><a href="/page/{{prevPage}}">Previous</a></li>
    {% endif %}
    {% if hasNext == true %}
    <li><a href="/page/{{nextPage}}">Next</a></li>
    {% endif %}
</ul>
{% endblock %}
