<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
  <title>{% block title %}{{tite}}{% endblock %} - Ali Al Dallal's blog</title>
  {% block css %}
    <link rel="stylesheet" href="/less/bootstrap/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/syntaxThemes/github.css">
    <link rel="stylesheet" href="/css/syntaxThemes/linenumber.css">

</head>
<body>
  {% endblock %}

	{% block header %}
    <div class="container">
      <div class="page-header">
        <h1><a href="/">Spectrum</a> <br><small>Spectrum is a CMS written in JavaScript on both the client and server sides.</small></h1>
      </div>
    {% include "nav.html" %}
  {% endblock %}

  {% block body %}
  {% endblock %}
</div>

<div class="clearfix"></div>

    {% block footer %}

    <script src="/ext/js/jquery.js"></script>
    <script src="/ext/js/bootstrap.min.js"></script>
    <script src="/js/run_prettify.js"></script>
    <script src="/js/prettify.js"></script>



    {% endblock %}


</body>
</html>


