<div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Home</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="https://github.com/alicoding/spectrum">Project on GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
