<!doctype html>
<html class="no-js" lang="en">
<head>
{% include "includes/head.html" %}
<title>{{title}}</title>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><input id="title" class="input-xlarge mousetrap" type="text" value="{{article.title}}"
        placeholder="Title goes here"></li>
      <li><i id="post" class="icon-check"></i></li>
      <li><input class="url" type="hidden"></li>
    </ul>
  </div>
</div>
<div id="input">
  <textarea id="kramdown-input" class="mousetrap">{{article.body}}</textarea>
</div>
<div id="output"></div>
{% include "includes/foot.html" %}
<script type="text/javascript" src="/bower/mousetrap/mousetrap.min.js"></script>
<script type="text/javascript" src="/bower/highlightjs/highlight.pack.js"></script>
<script type="text/javascript" src="/bower/speakingurl/speakingurl.min.js"></script>
<script src="/bower/jquery.tagsinput/jquery.tagsinput.min.js"></script>
<script>
$(function () {
  $('#kramdown-input').keyup(function () {
    $.post('/editor/preview', {
      text: $(this).val(),
      _csrf: '{{csrf}}'
    }, function (data) {
      $('#output').html(data);
      $('pre code').each(function (i, e) {
        hljs.highlightBlock(e)
      });
      MathJax.Hub.Queue(['Typeset', MathJax.Hub]);
    });
  });
  $('#kramdown-input').trigger('keyup');
});
Mousetrap.bind('command+enter', function (e, combo) {
  publish();
});
$("#post").click(function () {
  publish();
});

function publish() {
  var title = $('#title').val(),
    url = getSlug(title),
    html = $('#output').html();

  if (!title) {
    return alert("Please enter the title");
  }
  if (!$('#kramdown-input').val()) {
    return alert("Please enter some content");
  }

  var editPost = '{{mode}}';
  if (editPost != "edit") {
    saveToServerAjaxCall('POST', '/', {
      body: html,
      title: title,
      _csrf: '{{csrf}}',
      _id: url
    });
  } else {
    saveToServerAjaxCall('PUT', '/{{article._id}}', {
      body: html,
      title: title,
      _csrf: '{{csrf}}',
      _id: '{{article._id}}'
    });
  }
}

function saveToServerAjaxCall(type, url, data) {
  $.ajax({
    type: type,
    data: JSON.stringify(data),
    contentType: 'application/json',
    url: url,
    statusCode: {
      200: function (response) {},
      201: function (response) {},
      401: function (response) {},
      404: function (response) {}
    },
    success: function (data) {
      window.location.href = '/' + data.url;
    },
    error: function(e) {
      console.log("Error " + e.messages);
    }
  });
}
</script>

</body>
</html>
