{% extends "layouts/default.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{% include "users/auth.html" %}

{% if message != false %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{message}}
</div>

{% endif %}

<form action="/users/session" method="post" class="form-inline">
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <p class="offset2 error">{{article}}</p>
  <div class="control-group">
    <div class="col-lg-4">
      <input id="email" type="email" name="email" placeholder="Email" class="form-control">
    </div>
  </div>
    <div class="col-lg-4">
      <input id="password" type="password" name="password" placeholder="Password" class="form-control">
    </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Login</button>&nbsp;
    or&nbsp;<a href="/signup" class="show-signup">sign up</a>
  </div>
</form>


{% endblock %}