<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Kramdown Demo</title>
    <script src="http://cdn.craig.is/js/mousetrap/mousetrap.min.js"></script>

  <script language="javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/github.min.css">
  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div id="input">
  <textarea id="kramdown-input" class="mousetrap"></textarea>
</div>

<div id="output">
</div>

<script>
$(function() {
  $('#kramdown-input').keyup(function() {
    $.post('/editor/preview', { text: $(this).val() }, function(data) {
      $('#output').html(data);
      $('pre code').each(function(i, e) { hljs.highlightBlock(e) });
      MathJax.Hub.Queue(['Typeset', MathJax.Hub]);
    });
  });

  $('#kramdown-input').trigger('keyup');
});

Mousetrap.bind('command+enter', function(e, combo) {
    $.post('/new/post', { data: $('#kramdown-input').val(), title: "wo11wow", url: "he2he" }, function(data) {
      window.location.href = '/'+data.url;
    });
});

</script>

</body>
</html>
