<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>PageDown-Bootstrap Demo Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/less/Markdown.Editor.css">
<!--     <link rel="stylesheet" href="/css/syntaxThemes/github.css">
    <link rel="stylesheet" href="/css/syntaxThemes/linenumber.css">
    <script src="/js/run_prettify.js"></script>
 -->
    <style>
        body {
            background-color: White;
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/js/Markdown.Editor.js"></script>   
     
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">PageDown-Bootstrap</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="https://github.com/samwillis/pagedown-bootstrap">Project on GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="wmd-panel">
        <input class="input-block-level" id="title" value="{{title}}" type="text" placeholder="Title goes here">
        <div id="wmd-button-bar"></div>
        <textarea class="wmd-input" id="wmd-input">{{content}}</textarea>
        </div>
        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
        {% if mode == "edit" %} 
        <button id="post" class="btn btn-large btn-block btn-primary">Update</button>
        {% else %}
        <button id="post" class="btn btn-large btn-block btn-primary">Publish</button>
        {% endif %}

    </div> 
    <script type="text/javascript">
        (function () {
            var converter = new Markdown.Converter();
            function help () { 
              window.open('http://daringfireball.net/projects/markdown/syntax'); 
            }
            var editor = new Markdown.Editor(converter, '', { handler: help });
            editor.run();
        })();

        $("#post").click(function (){

  var theContent = $('#wmd-input').val(),

   _title = $('#title').val(),
   
      _url = convertToSlug(_title.trim());
      if (!_title){
        return alert("Please enter the title");
      } 
      if(!theContent) {
        return alert("Please enter some content");
      }

      var editPost = '{{mode}}';

      if(editPost != "edit") {
        saveToServerAjaxCall('/new/post', {data:theContent,title:_title, url: _url}, function () {
        });
      } else {
        saveToServerAjaxCall('/edit/post', {data:theContent,title:_title,url:_url}, function () {
        });
      }

});

function saveToServerAjaxCall(url, data, callback) {

  $.ajax({
    type: 'POST',
    data: JSON.stringify(data),
    contentType: 'application/json',
    url: url,
    statusCode: {
      200: function (response) {

      },
      201: function (response) {

      },
      401: function (response) {

      },
      404: function (response) {

      }
   },
    success: function (data) {
      window.location.href = '/'+data.url;
    }
  });
}

function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/ /g,' ')
        .replace(/[^\w-]+/g,' ')
        ;
}
    </script>
       <!-- <script src="/js/prettify.js"></script> -->

</body>
</html>
