{% extends "layouts/default.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<h1>{{title}}</h1>
<hr>
<div class="row">
  <div class="span7">
    <form method="post" action="/articles/undefined" enctype="multipart/form-data" class="form-horizontal">
      <input type="hidden" name="_csrf" value="{{csrf_token}}">
      <input type="hidden" name="_method" value="PUT">
      <div class="control-group">
        <label for="title" class="control-label">Title</label>
        <div class="controls">
          <input id="title" type="text" name="title" placeholder="Enter the title" class="input-xlarge">
        </div>
      </div>
      <div class="control-group">
        <label for="title" class="control-label">Image</label>
        <div class="controls">
          <input type="file" name="image[]">
        </div>
      </div>
      <div class="control-group">
        <label for="desc" class="control-label">Body</label>
        <div class="controls">
          <textarea id="desc" type="text" rows="5" name="body" placeholder="Enter the article description" class="input-xlarge"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label for="desc" class="control-label">Tags</label>
        <div class="controls">
          <input id="tags" type="text" name="tags" placeholder="Enter the tags">
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;<a href="/articles" title="cancel" class="btn">Cancel</a>
      </div>
    </form>
  </div>
  <div class="span5">
  </div>
</div>
<!-- 
    .span5
      - if (!article.isNew && article.image && article.image.files && article.image.files.length)
        img(src=article.image.cdnUri + "/mini_" + article.image.files[0])
 -->

 {% endblock %}