<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
  {% include "includes/head.html" %}
  <body>
    <div class="wrapper">
      {% include "includes/header.html" %}
      <div class="container">
        <div class="main-content">
          <div class="main-head">
          {% include "includes/messages.html" %}
          {% block body %} {% endblock %}
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>
  {% include "includes/footer.html" %} 
  {% include "includes/foot.html" %}
  </body>
</html>